* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f5;
	color: #1a1918;
	font-family: "funnel display", sans-serif;
}
