.title {
	text-align: center;
	margin-bottom: 20px;
}

.form-box {
	display: flex;
	justify-content: space-between;
	width: 500px;
	height: 50px;
	margin-bottom: 10px;
}

.todo-input {
	width: 440px;
	padding-left: 20px;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 600;
	border: 2px solid #000;
}

.add-btn {
	position: relative;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 100%;
	/* border: 2px solid #000; */
	background-color: orange;
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.add-btn:hover {
	background-color: rgba(255, 166, 0, 0.5);
}
.add-btn:disabled {
	background-color: gray; /* 비활성화 상태에서 배경색 변경 */
	cursor: not-allowed; /* 커서 스타일 변경 */
	opacity: 0.6; /* 투명도 조정 */
}

.todo-box {
	width: 500px;
	height: 400px;
	padding: 10px;
	border: 2px solid #000;
	background-color: #eee;
	border-radius: 20px;
}

.new-todo {
	display: block;
	position: relative;
	height: 25px;
	padding-left: 45px;
	margin-bottom: 12px;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 25px;
}

.new-todo input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	cursor: pointer;
}

.check-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	border: 2px solid #000;
	background-color: #fff;
	cursor: pointer;
}

.check-mark.check {
	background-color: #000;
}

.check {
	text-decoration: line-through;
}

.new-todo-label {
	cursor: pointer;
}

.edit-btn::after {
	font-weight: 900;
	position: absolute;
	right: 35px;
	top: 2px;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	content: "\270E";
}

.edit-btn:hover {
	color: red;
}

.rm-btn::after {
	font-weight: 900;
	position: absolute;
	right: 5px;
	top: 0px;
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
	content: "\00d7";
}

.rm-btn:hover {
	color: red;
}
